
// Fonts


// Variables
//@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "theme";

@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito";
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

$red:     #dc3545 !default;
.error-text {
  color: $red;
}

.cursor {
  cursor: pointer;
}

.text-sm-8 {
  font-size: .8rem;
}
